header, footer{
    background-color: rgb(32, 52, 65);
}

#about{
    background-color: rgb(121, 142, 151);
}

.martel-regular {
  font-family: "Martel", serif;
  font-weight: 400;
  font-style: normal;
}


